:root {
	--bg-color-main: #1c1c1c;
	--format: 7em 7em 13em 4em;
	--time-animation: 0.4s;
}

@mixin format() {
	padding: var(--format);

	@media(max-width:325px) {
		padding: 2rem;
	}
}

body {
	background-color: var(--bg-color-main);
	padding-top: 6rem;

	@media (min-width: 992px) {
		padding-top: 0px;
		padding-left: 12rem;
	}
}

@media (min-width: 992px) {
	#navsize {
		padding-left: 0;
		padding-right: 0;
		position: fixed;
		top: 0;
		left: 0;
		width: 12rem;
		height: 100vh;
	}
}

img {
	width: 11rem;
	margin-left: 1rem;
	margin-top: 11rem;
	transition: var(--time-animation);

	&:hover {
		transform: scale(1.05);
		transition: var(--time-animation);
	}
}

.nav-item a {
	transition: var(--time-animation);
	border-radius: 0.7rem;
	width: 9rem;
	padding-left: 10px;

	&:hover {
		background-color: #141414;
		transform: translateY(-6px) translateX(12px);
		transition: var(--time-animation);
	}
}

.section-resume {
	padding: var(--format);

	.content-resume {
		padding: 2rem;
		box-shadow: -7px 13px 21px 11px #282828;
		transition: var(--time-animation);

		&:hover {
			transform: scale(1.02);
			transition: var(--time-animation);
		}

		@media (max-width: 325px) {
			width: 12rem;
		}
	}
}

.section-skills {
	padding: var(--format);

	@media (max-width:325px) {
		padding: 2rem;
	}

	.content-skills {
		padding: 2rem;
		transition: 0.4s;

		.title {
			font-size: 4rem;
			margin-bottom: 4.5rem;
		}

		.card {
			width: 10rem;
			background-color: var(--bg-color-main);

			.card-body {
				padding: 2rem;
				transition: 0.4s;

				&:hover {
					transform: scale(1.06);
					transition: 0.4s;
				}
			}
		}
	}
}
