:root {
  --bg-color-main: #1c1c1c;
  --format: 16rem 7rem;
  --time-animation: 0.4s;
}

body {
  background-color: var(--bg-color-main);
  padding-top: 6rem;
}
@media (min-width: 992px) {
  body {
    padding-top: 0px;
    padding-left: 12rem;
  }
}

@media (min-width: 992px) {
  #navsize {
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 12rem;
    height: 100vh;
  }
}
.profile {
  width: 11rem;
  margin-left: 1rem;
  margin-top: 11rem;
  transition: var(--time-animation);
}
.profile:hover {
  transform: scale(1.05);
  transition: var(--time-animation);
}

.nav-item a {
  transition: var(--time-animation);
  border-radius: 0.7rem;
  width: 9rem;
  padding-left: 10px;
}
.nav-item a:hover {
  background-color: #141414;
  transform: translateY(-6px) translateX(12px);
  transition: var(--time-animation);
}

.section-main {
  padding: var(--format);
}
@media (max-width: 500px) {
  .section-main {
    padding: 15rem 2rem;
  }
}
.section-main .header-main {
  font-size: 3.5rem;
}
.section-main .subheader {
  font-size: x-large;
}
.section-main .icons-social {
  height: 3.5rem;
  width: 3.5rem;
  background-color: #2c2e50;
  transition: var(--time-animation);
}
.section-main .icons-social .icon {
  height: 2rem;
}
.section-main .icons-social:hover {
  transform: scale(1.04);
  transition: var(--time-animation);
}

.section-resume {
  padding: var(--format);
}
@media (max-width: 500px) {
  .section-resume {
    padding: 15rem 2rem;
  }
}
.section-resume .content-resume {
  padding: 2rem;
  box-shadow: -7px 13px 21px 11px #282828;
  transition: var(--time-animation);
}
.section-resume .content-resume:hover {
  transform: scale(1.02);
  transition: var(--time-animation);
}
@media (max-width: 325px) {
  .section-resume .content-resume {
    width: 12rem;
  }
}

.section-skills {
  padding: var(--format);
}
@media (max-width: 500px) {
  .section-skills {
    padding: 15rem 2rem;
  }
}
.section-skills .title {
  font-size: 4rem;
  margin-bottom: 4.5rem;
}
.section-skills .card {
  width: 10rem;
  background-color: var(--bg-color-main);
}
.section-skills .card .card-body {
  padding: 2rem;
  transition: 0.4s;
}
.section-skills .card .card-body:hover {
  transform: scale(1.06);
  transition: 0.4s;
}

.section-portfolio {
  padding: var(--format);
}
@media (max-width: 500px) {
  .section-portfolio {
    padding: 15rem 2rem;
  }
}
.section-portfolio .title {
  font-size: 4rem;
  margin-bottom: 4.5rem;
}
.section-portfolio .card {
  background-color: var(--bg-color-main);
  width: 16rem;
  height: 24rem;
  transition: var(--time-animation);
}
.section-portfolio .card:hover {
  transform: scale(1.05);
  transition: var(--time-animation);
}
.section-portfolio .card .icons-card {
  height: 3rem;
  width: 3rem;
  color: #9b9b9b;
  background-color: #2c3e50;
  transition: var(--time-animation);
}
.section-portfolio .card .icons-card .card-icons {
  height: 2rem;
}

.section-contact {
  padding: var(--format);
}
@media (max-width: 500px) {
  .section-contact {
    padding: 15rem 2rem;
  }
}
.section-contact .title {
  font-size: 4rem;
  margin-bottom: 4.5rem;
}/*# sourceMappingURL=styles.css.map */