body {
    background-color: #1c1c1c;
    padding-top: 6rem;
}

@media (min-width: 992px) {
    body {
        padding-top: 0px;
        padding-left: 12rem;
    }
}


@media (min-width: 992px) {
	#navsize {
		padding-left: 0;
		padding-right: 0;
		position: fixed;
		top: 0;
		left: 0;
		width: 12rem;
		height: 100vh;
	}
}

img {
    width: 11rem;
    margin-left: 1rem;
    margin-top: 11rem;
    transition: 0.4s;
}

img:hover{
    transform: translateY(-12px);
    transition: 0.4s;
}

.nav-item a{
    transition: 0.4s;
    border-radius: 0.7rem;
    width: 9rem;
    padding-left: 10px;
}

.nav-item a:hover {
    background-color: #141414;
    transform: translateY(-6px) translateX(12px);
    transition: 0.4s;
    
}

.section-resume {
    padding: 7em 7em 4em 4em;
}

.content-resume {
    border: 2px solid white;
    padding: 2rem;
    box-shadow: -7px 13px 21px 11px #282828;
    transition: .4s;
}

@media (max-width: 280px) {
    .content-resume {
        width: 12rem;
    }
}

.content-resume:hover {
    transform:translateY(-6px) translateX(5px);
}



